@tailwind utilities;
/*

Light mode: 
Text: #000000 (black)
Hover: #8690C2
Foreground: #BDC3E7
Background: #E6E9F5
Button: #FFC59E 

dark mode:
Text: #FFFFFF
Hover: #676F9D
Foreground: #424769
Background: #2D3250
Button: #F9B17A

*/

:root {
  --clr-text-primary: #000000;
  --clr-hover-primary: #8690c2;
  --clr-foreground-primary: #bdc3e7;
  --clr-background-primary: #e6e9f5;
  --clr-btn-primary: #ffc59e;

  --clr-text-dark: #ffffff;
  --clr-hover-dark: #676f9d;
  --clr-foreground-dark: #424769;
  --clr-background-dark: #2d3250;
  --clr-btn-dark: #f9b17a;

  --accent-color: var(--clr-text-primary);
  --hover-color: var(--clr-hover-primary);
  --foreground-color: var(--clr-foreground-primary);
  --background-color: var(--clr-background-primary);
  --btn-color: var(--clr-btn-primary);

  --border-color-100: #dcdcdc;
  --border-color-200: #d3d3d3;
  --border-color-300: #808080;
  --border-color-400: #333333;

  --body-font: "Helvetica", "Arial", sans-serif;
  --heading-font: "Georgia", "Times", serif;

  --spacing-1: 0.5rem;
  --spacing-1_5: 0.75rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;

  --border-radius: 0.25rem;

  /* --input-hover-border-color: var(--accent-color); */
  --button-hover-background-color: brightness(1.15);

  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* Default font size for small screens (1rem = 10px) */
}

@media screen and (min-width: 30em) {
  /* 480px and up */
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 48em) {
  /* 768px and up */
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 64em) {
  /* 1024px and up */
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 30em) {
  /* 480px and below */
  html {
    font-size: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--clr-text-dark);
    --hover-color: var(--clr-hover-dark);
    --foreground-color: var(--clr-foreground-dark);
    --background-color: var(--clr-background-dark);
    --btn-color: var(--clr-btn-dark);

    --button-hover-background-color: hsla(30, 91%, 65%, 1);
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: var(--btn-color);
  }
  button:hover {
    background-color: var(--button-hover-background-color);
    transition: background-color 0.2s;
  }
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  color: var(--accent-color);
  background-color: var(--background-color);

  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  outline: none;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-family: var(--heading-font);
  text-wrap: balance;
}

a {
  color: var(--accent-color);
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: var(--spacing-1) solid var(--hover-color);
}

button {
  background-color: var(--btn-color);
}
button:hover {
  backdrop-filter: var(--button-hover-background-color);
  transition: backdrop-filter 0.2s;
}

.main-nav {
  padding-block-start: var(--spacing-2);
  padding-block-end: var(--spacing-2);
  border-bottom: 1px solid var(--border-color-200);
  box-shadow: 0 0 0 var(--spacing-1) var(--border-color-200);
  padding: var(--spacing-2) var(--spacing-3);
  gap: var(--spacing-2);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
